/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require animate
 *= require_self
 */

body {
  background-color: #000;
  margin: 0;
  padding: 10px 0 0 0;
  color: #fff;
  font-family: "AvenirNext-Medium", Helvetica, Arial, Sans-serif;
}

a {
  color: #fff;
}

h1,h2,h3,h4,h5,h6,strong,b {
  font-family: "AvenirNext-Bold";
}

.container {
  width: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#logo {
  display: block;
  margin: 10px auto 0 auto;
}

#main-title {
  text-align: center;
  font-size: 24px;
  font-family: "AvenirNext-Medium";
  font-weight: normal;
}

.product {
  position: relative;
  display: block;
  width: 100%;
  height: 197px;
  background-size: 100%;
  margin-bottom: 10px;
  .product-banner {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.3);
    font-family: "AvenirNext-Regular";
    font-weight: normal;
    font-size: 24px;
  }
  .product-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    text-align: right;
    font-size: 80%;
    text-shadow: 0 0 3px #000;
    background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    h1,h2,h3,h4,h5,h5,p {
      margin: 4px 0;
    }
  }
}

.product-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.91);
  padding: 10px;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px #000;
  h1,p {
    margin: 4px 0;
  }
  .product-modal-close {
    margin-bottom: 8px;
  }
  .photo-container {
    overflow: hidden;
  }
}

.btn {
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  background-color: #333;
  border: none;
  font-family: "AvenirNext-Bold";
  text-shadow: 0 -1px 0 #000;
  margin-bottom: 5px;
}